<ul>
    <li class="stock-item">
        <div class="single-row" (click)="goToDetails(stock.id)">
            <div class="name">{{ stock.name }}</div>
            <div class="code">{{ stock.code }}</div>
            <div class="exchange">{{ stock.exchange }}</div>
            <!-- <div class="price" [ngClass]="{ 'positive': stock.isPositiveChange, 'negative': !stock.isPositiveChange }"> -->
            <div class="price" [class.positive]="stock.price > stock.previousPrice"
                [class.negative]="stock.price <= stock.previousPrice">
                $ {{ stock.price }}
            </div>
            <div class="favorite-btn">
                <button (click)="toggleFavorite()" [hidden]="!stock.favorite">
                    Add to favorite
                </button>
                <button (click)="toggleFavorite()" [hidden]="stock.favorite">
                    Remove from favorite
                </button>
            </div>
            <div class="delete-btn">
                <button (click)="deleteStock()">
                    Delete
                </button>
            </div>
            <div class="update-btn">
                <button mat-raised-button (click)="updateStock()">
                    Update
                </button>
                <!-- <div class="update">
                    <app-update-stock [hidden]="!update" (updateStock)="onStockUpdate()"></app-update-stock>
                </div> -->
            </div>
            <div class="information-btn">
                <button mat-raised-button (click)="showInformation()">Information</button>
            </div>
        </div>
    </li>
</ul>