<div class="form-stock">
  <div class="stock-container">
    <h1>Welcome to Stock Market App!</h1>
    <div class="name">{{ stock.name }} - ({{ stock.code }})</div>
    <div class="exchange">{{ stock.exchange }}</div>
    <div class="price" [ngClass]="{ 'positive': stock.isPositiveChange, 'negative': !stock.isPositiveChange }">
      $ {{ stock.price }}
    </div>
    <div class="favorite-btn">
      <button (click)="toggleFavorite()" [hidden]="stock.favorite">
        Add to favorite
      </button>
      <button (click)="toggleUnFavorite()" [hidden]="!stock.favorite">
        Remove from favorite
      </button>
    </div>
    <div class="delete-btn">
      <button (click)="deleteStock()">
        Delete
      </button>
    </div>
    <div class="update-btn">
      <button (click)="updateStock()">
        Update
      </button>
    </div>
    <div class="information-btn">
      <button (click)="showInformation()">
        Information
      </button>
    </div>
  </div>
</div>
<!-- <div class="update">
  <app-update-stock [hidden]="!update" [stock]="stock" (updateStock)="onStockUpdate()"></app-update-stock>
</div> -->