<!-- reactive form group/builder -->
<h1>Reactive</h1>
<div class="form-group">
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
        <div class="stock-name">
            <input type="text" name="stockName" placeholder="Stock Name" formControlName="name">
            <div *ngIf="stockForm.get('name')?.invalid && stockForm.get('name')?.dirty">
                Name is required
            </div>
        </div>

        <div class="stock-code">
            <input type="text" name="code" placeholder="Stock Code" formControlName="code">
            <div *ngIf="stockForm.get('code')?.invalid && stockForm.get('code')?.dirty">
                <div *ngIf="stockForm.get('code')?.errors?.['required']">
                    Code is required
                </div>
                <div *ngIf="stockForm.get('code')?.errors?.['minlength']">
                    Code should be at least 2 characters
                </div>
            </div>
        </div>

        <div class="stock-price">
            <input type="text" name="price" placeholder="Stock Price" formControlName="price">
            <div *ngIf="stockForm.get('price')?.invalid && 
        (stockForm.get('price')?.touched || stockForm.get('price')?.dirty)">
                <div *ngIf="stockForm.get('price')?.errors?.['required']">
                    Price is required
                </div>
                <div *ngIf="stockForm.get('price')?.errors?.['min']">
                    Price must be positive
                </div>
            </div>
        </div>

        <div class="stock-exchange">
            <label for="stock-exchange">Select Stock Exchange:</label>
            <select name="exchange" id="stock-exchange" formControlName="exchange">
                <option *ngFor="let exchange of exchanges" [ngValue]="exchange">
                    {{ exchange }}
                </option>
            </select>
        </div>

        <button type="submit" [disabled]="DisableSubmit()">Submit</button>
    </form>
</div>
<h4>Form control value: {{ stockForm.value | json }}</h4>
<h4>Form Control status: {{ stockForm.status | json }}</h4>