<div class="update-container">
    <h2>Update Stock</h2>
    <form [formGroup]="updateForm">
        <div class="form-group">
            <label>Stock Name</label>
            <input type="text" formControlName="name">
            <div *ngIf="updateForm.get('name')?.invalid && updateForm.get('name')?.touched" class="error">
                Name is required
            </div>
        </div>

        <div class="form-group">
            <label>Stock Code</label>
            <input type="text" formControlName="code">
            <div *ngIf="updateForm.get('code')?.invalid && updateForm.get('code')?.touched" class="error">
                <div *ngIf="updateForm.get('code')?.errors?.['required']">Code is required</div>
                <div *ngIf="updateForm.get('code')?.errors?.['minlength']">
                    Minimum 2 characters required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Current Price</label>
            <input type="number" formControlName="price">
            <div *ngIf="updateForm.get('price')?.invalid && updateForm.get('price')?.touched" class="error">
                <div *ngIf="updateForm.get('price')?.errors?.['required']">Price is required</div>
                <div *ngIf="updateForm.get('price')?.errors?.['min']">Must be positive value</div>
            </div>
        </div>

        <div class="form-group">
            <label>Previous Price</label>
            <input type="number" formControlName="previousPrice">
            <div *ngIf="updateForm.get('previousPrice')?.invalid && updateForm.get('previousPrice')?.touched"
                class="error">
                <div *ngIf="updateForm.get('previousPrice')?.errors?.['required']">Previous price is required</div>
                <div *ngIf="updateForm.get('previousPrice')?.errors?.['min']">Must be positive value</div>
            </div>
        </div>

        <div class="form-group">
            <label>Exchange</label>
            <select formControlName="exchange">
                <option *ngFor="let exchange of exchanges" [value]="exchange">
                    {{ exchange }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" formControlName="favorite"> Favorite
            </label>
        </div>

        <div class="form-actions">
            <button type="button" (click)="onCancel()" [disabled]="loading">Cancel</button>
            <button type="submit" (click)="onUpdateStock()" [disabled]="DisableUpdate()">
                {{ loading ? 'Updating...' : 'Update' }}
            </button>
        </div>

        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </form>
</div>